.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #e0fbfc;
  /* position: absolute;
  z-index: 1; */
}

#header-pic {
    width: 200px;
}

.gallery-container {
    color: #e0fbfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}

.socials-list {
    list-style-type: none;
    display: block;
}

.gallery {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    width: 100%;
}

.gallery-list li {
    display: inline;
    flex-wrap: wrap;
}

.circle {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.circle img {
    padding-top: 5px;
}
/* .fade-container {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    background-color: #263238;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 125vh;
} */

/* .main-container {
    background-color: #15171e;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 100vh; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* overflow: visible; */
/* } */

/* #tsparticles {
    opacity: 1;

} */

/* li::marker {
    list-style-type: none;
} */