.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #e0fbfc;
  /* position: absolute;
  z-index: 1; */
}

#header-pic {
    width: 200px;
}

body {
    background-color: #282c34;
}

body .projects-container {
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: block;
}

.projects-container {
    padding-top: 15vh;
}

/* .fade-container {
    opacity: 0.5;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    background-color: #263238;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 125vh;
} */

/* .main-container {
    background-color: #15171e;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 100vh; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* overflow: visible; */
/* } */

/* #tsparticles {
    opacity: 1;

} */

/* li::marker {
    list-style-type: none;
} */