.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa', sans-serif;
  font-weight: lighter;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #b7b8d2;
}

#main-header {
    font-family: 'Urbanist', sans-serif;
    font-weight: lighter;
    letter-spacing: 50px;
}

#intro {
    color: #837ba2;
}

#header-pic {
    width: 200px;
    border-radius: 50%;
    background-color: rgba(168, 140, 198, 0.05);
}

.gallery-container {
    color: #a9dcfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}

.socials-list {
    list-style-type: none;
    display: block;
}

.gallery {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    width: 100%;
}

.gallery-list li {
    display: inline;
    flex-wrap: wrap;
    position: relative;
}

.gallery-list a {
    color: inherit;
}

.circle {
    height: 59px;
    width: 59px;
    background-color: #717171;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.circle img {
    padding-top: 5px;
}

.gallery-text {
    max-width: 80px;
    margin-left: 29px;
    position: absolute;
    top: 10;
    left: 0;
    text-align: center;
    color: #bddff5;
    text-shadow: 1px 1px 1px black;
    font-weight: 650;
    font-size: 14px;
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease-in-out;
    
}

.overlay {
    transition: opacity 1s;
    transition-timing-function: ease-in-out;
    position: absolute;
    background-color: #99cde0b4; 
    top: 19.5px;
    left: 19.5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

a:hover .gallery-text {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}

img {
    opacity: 0.8;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}

a:hover img {
    opacity: 0;
    transition: opacity 0.5;
    transition-timing-function: ease-in-out;
}

a:hover .overlay {
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}

.underline {
    position: relative;
    width: 150px;
    height: 2px;
    background-color: #414466;
    border-radius: 10px;
}